<!-- <form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input required minlength='3' maxlength='10' pattern='banana' ngModel name="firstName" #firstName="ngModel" id="firstName"
            type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required"> First name is required</div>
            <div *ngIf="firstName.errors.minlength"> minlength is required {{firstName.errors.minlength}}</div>
            <div *ngIf="firstName.errors.pattern"> pattern is not matched </div>
        </div>

    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">Submit</button>
</form> -->